.App {
  text-align: center;
}

body {
  font: 400 14px Roboto, sans-serif;
  background-color: #121214;
  color: #FFF;
}

.btn-primary {
  background: #58417D;
  border: #58417D;
  transition: background-color 0.2s;
  transition: opacity 0.2s;
}

.btn-primary:hover {
  background-color: #58417D;
  opacity: 0.8;
}

.btn:active, .btn-primary:active {
  background-color: #58417D;
}

.form-group {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.form-group input {
  max-width: 450px;
  transition: box-shadow 0.1s;
  box-shadow: none;
}

.form-group input:focus {
  border-color:#58417D;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
}

.movie {
  position: relative;
  display: block;
  height: 102%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  background: #58417D;
  border-radius: 8px;
  padding-top: 1rem;
  padding-right: 1rem;
}

.movie:hover {
  
}

.movie img {
  width: 120px;
  cursor: pointer;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  transition: width 0.2s;
}

.movie img:hover{
  width: 130px;
}

.movie p {
  text-transform: capitalize;
  height: 20px;
  margin-top: 8px;
}

.movie li {
  list-style-type: none;
}
